<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Modera developer test task{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
            {% block javascripts_inline %}{% endblock %}
            $().ready(function(){
                {% block javascripts_onready %}{% endblock %}
            });
        </script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

    </body>
</html>
