{% extends 'ModeraPublicBundle::layout.html.twig' %}

{% block page_title %}
    Task #1
{% endblock %}

{% block page_content %}

    <blockquote>
    <p class="text-info"> - Makes request to controller action submit</p>
    <p class="text-info"> - Controller uses service for processing data and returns formatted data</p>
    </blockquote>
    <form class="form-horizontal" role="form" action="{{ path('modera_public_task1_default_submit') }}" method="post">


        <div class="col-sm-5">

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2">Enter source data:</label>

                    <div class="col-sm-10">
                        <textarea style="height: 300px; width: 100%;" name="data[content]">{{ default_data }}</textarea>
                    </div>

                </div>

            </div>

        </div>

        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-offset-5">
                    <button type="submit" data-action="process" class="btn btn-default"> >></button>
                </div>
            </div>
        </div>

        <div class="col-sm-5">
            <textarea data-result-area style="width: 100%; height: 300px;" disabled data-result-area></textarea>
        </div>

    </form>

{% endblock %}


{% block javascripts_onready %}
    {{ parent() }}
    {% include 'ModeraPublicBundle:Task1/Default:index.js.twig' %}
{% endblock %}