Ext.define('AM.store.Store', {
    extend: 'Ext.data.TreeStore',
    proxy: {
        type: 'ajax',
        url: "{{ path('modera_service_default_getdata') }}",
        render: {
            type: 'json',
            'root': 'children'
        }
    },
    autoLoad: true
});