/**
 * Store definition
 */
Ext.define('AM.store.Users',{
    extend: 'Ext.data.Store',
    model: 'AM.model.User',
    autoLoad: true,

    proxy: {
        type: 'ajax',
        api:{
            read: "{{ path('modera_public_app_data_getusers') }}",
            update: "{{ path('modera_public_app_data_updateusers')}}"
        },

        reader: {
            type: 'json',
            root: 'users',
            successProperty: 'success'
        }
    }

});