{% extends '::base.html.twig' %}

{% block title %}
    Testing task for Modera
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('extjs/resources/css/ext-all.css') }}"/>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('extjs/ext-debug.js') }}"></script>
    {#<script type="text/javascript" src="{{ path('modera_public_app_default_index') }}"></script>#}
    <script type="text/javascript" src="{{ asset('jquery/jquery-2.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('jquery/jquery-migrate-1.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock %}


{% block body %}
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">

            <div class="navbar-header">

                <a class="navbar-brand">Tasks</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">


                    {% set _active_class = app.request.get('_route') == 'modera_public_task1_default_index' ? ' active' : '' %}
                    <li class="{{ _active_class }}"><a href="{{ path('modera_public_default_index') }}">Task #1</a></li>

                    {% set _active_class = app.request.get('_route') == 'modera_public_task2_default_index' ? ' active' : '' %}
                    <li class="{{ _active_class }}"><a href="{{ path('modera_public_task2_default_index') }}">Task #2</a></li>

                    {% set _active_class = app.request.get('_route') == 'modera_public_task3_default_index' ? ' active' : '' %}
                    <li class="{{ _active_class }}"><a href="{{ path('modera_public_task3_default_index') }}">Task #3</a></li>

                </ul>

            </div>
        </nav>

    </div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">{% block page_title %}{% endblock %}</div>
            <div class="panel-body">{% block page_content %}{% endblock %}</div>
        </div>

    </div>

{% endblock %}

