{% extends 'ModeraPublicBundle::layout.html.twig' %}

{% block page_title %}Task #2{% endblock %}


{% block page_content %}
    <blockquote>
        <p class="text-info">Makes request to service bundle via <strong>/rest/get_data</strong></p>

        <p class="text-info">Returns ready to use data in JSON format</p>
    </blockquote>

    <a data-action class="btn btn-default" href="{{ path('modera_service_default_getdata') }}">Get data</a>
    <hr/>
    <div class="well well-sm" data-result-area></div>
{% endblock %}

{% block javascripts_onready %}
    {{ parent() }}
    {% include 'ModeraPublicBundle:Task2/Default:index.js.twig' %}
{% endblock %}


