{% extends 'ModeraPublicBundle::layout.html.twig' %}

{% block page_title %}Task #3{% endblock %}

{% block page_content %}

    <blockquote>
        <p class="text-info">Just loads app.js with TreeStore pointed to REST service <strong>/rest/get_data</strong></p>

        <p class="text-info">For test data used example from task.</p>

        <p class="text-warning">It takes some time for loading. Please wait ...</p>
    </blockquote>

    <div id="tree_container"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('modera_public_task3_app_default_index') }}"></script>
{% endblock %}



